[user]
	name = James Ingold

[diff]
	tool = bc3

[difftool]
	bc3 = trustExitCode

[grep]
  lineNumber = true
  extendRegexp = true

[merge]
	tool = bc3

[mergetool]
	bc3 = trustExitCode
	keepBackup = false

[alias]
    st = status
    d = diff
    ci = commit -v
    cia = commit -v -a
    cm = !git add -A && git commit -m
	co = checkout
    cp = cherry-pick
    dci = svn dcommit
    l = log
    ll = log -p
    lm = log master..
    llm = log -p master..
    b = branch
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    floq = log --no-merges --author="James Ingold" --stat --pretty='\n\n%C(bold blue)[%h] %C(bold yellow)%ad (%cr) %C(green)- %s' --date=format:'%b %d %Y'
    lgme = log --author='James' --after={1.week.ago} --pretty=oneline --abbrev-commit   
    co = checkout
    pb = push --set-upstream origin HEAD
    ss = status -s

[colors]
	ui = auto

[color "status"]
  added = green bold
  changed = yellow bold
  untracked = red bold

[color "diff"]
  meta = yellow bold ul
  frag = cyan bold ul
  old = red bold
  new = green bold

[color "branch"]
  current = green bold
  local = green
  remote = red bold

[push]
	default = simple

[core]
	excludesfile = ~/.gitignore_global
